{% extends '@AcMarcheApi/base.html.twig' %}

{% block body %}

    <h1 class="text-success">Carto parkings</h1>

        {# The map must have a defined height #}
        {{ ux_map(map, {style: 'height: 600px;'}) }}

    {% for parking in parkings %}

    {% endfor %}
{% endblock %}
