{% set action = app.request.attributes.get("_route") %}


<li class="nav-item{% if action == 'api_home' %} active {% endif %}">
    <a class="nav-link"
       href="{{ path('api_home') }}"><i class="fas fa-plus"></i> Vide</a>
</li>

